.taskheader {
  height: 127px;
  border-bottom: 1px solid #ced4da;
  display: flex;
  flex-direction: column;
}
.datetext {
  font-size: 24px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #495057;
}

.taskTools {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.taskCountText {
  color: #adb5bd;
}
